.myjobs{
    display: flex;
    justify-content: center;
    min-height: 482px;
    .myjobs-container{
        width: 1400px;
        padding: 10px 0px;

        .myjobs-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    
    }
}

table{
    width: 100%;

    tr{
        height: 50px;
        
        th{
            text-align: left;
        }                
        td{
            .img{
                width: 50px;
                height: 25px;
                object-fit: cover;
            }
        }
            .contact{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

        &:nth-child(even){
            background-color: #1dbf730f;
        }
    }
}

.offer-div {
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }

.buttonoffer-green{
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}

.buttonoffer-red{
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}