.messages{
    display: flex;
    flex-direction: row;
    height: 500px;
    margin: 5px 5px 5px 5px;
    .left{
        flex-basis: 25%;
        margin-right: 5px;
        .box{
            display: flex;
            flex-direction: row;
            height: 40px;
            padding: 5px 5px 5px 5px;
            .left{
                flex-basis: 20%;
                .sender-image{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid lightblue;
                    z-index: 3;
                    .pic{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
            .right{
                flex-basis: 80%;
                background-color: none;
            }

        }
    }
    .mid{
        border-left: 4px solid lightgray;
        border-right: 4px solid lightgray;
        padding: 5px 5px 5px 5px;
        flex-basis: 50%;
        margin-right: 5px;
    }
    .right{
        flex-basis: 25%;
        background-color: lightgray;
        border-radius: 20px;
        .profile-card{
            padding: 10px 10px 10px 10px;
            .sender-pic{
                display: flex;
                justify-content: center;
                align-items: center;
                .picture{
                    border-radius: 100%;
                    width: 150px;
                    height: 150px;
                }
            }
            .sender-name{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 25px;
            }
            .sender-title{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;   
            }
            .sender-biography{
                display: flex;
                margin-left: 10px;
                margin-right: 10px;
                align-items: center;
                justify-content: center;
                font-size: 15px;
            }
            .sender-education{
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .sender-location{
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
