.jobs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top{
        flex-basis: 5%;
        display: flex;
        position: relative;
        left: 100px;
        font-size: 18px;
        align-items: center;
        gap: 100px;
        font-weight: 500;
    }
    .bot{
        display: flex;
        justify-content: center;
        align-items: center;
        .job{
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            width: 85%;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: rgb(213, 233, 213);
            display: flex;
            padding: 10px 10px 10px 10px;
            .left{
                flex-basis: 90%;
                .time{
                    font-size: 15px;
                }
                .name{
                    font-weight: bold;
                }
                .needed-skills{
                    margin-left: 5px;
                    margin-top: 10px;
                    display: inline-block;
                    padding: 0px 5px 0px 5px;
                    border-radius: 10px;
                    background-color: gray;
                }
            }
            .right{
                flex-basis: 15%;
                text-align: left;
                display: flex;
                flex-direction: column;
                .favorite{
                    position: relative;
                    display: flex;
                    right: -147px;
                    border-radius: 100px;
                    width: 30px;
                    background-color: white;
                    .img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}