.greenBox{
    background-color: #013914;
    width: 100%;
    height:70vh;
    display: flex;
    flex-direction: row;
}
.title{
    display: block;
    font-weight: bold;
    flex-basis: 40%;
    color: white;
    position: relative;
     top: 120px;
     left: 70px;
     padding:5px;
}
.header{
    margin-bottom: 35px;
}
.img-fluid{
    border-radius: 65px;
    display: flex;
    justify-content: end;
    position: relative;
    height: 250px;
    width: auto;
    margin-bottom: 10px;
   right: -370px;
    border:#013914;
}

  @import '../../../node_modules/bootstrap/scss/bootstrap.scss'