.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    .add-container{
        width: 80%;
        height: 450px;
        background-color: white;
        border : 3px solid lightgrey;
        margin: 10px 10px 10px 10px;
        .top{
            display: block;
            flex-basis: 90%;
            padding: 5px 10px 10px 10px;
            .add-title{
                display: flex;
                flex-direction: row;
            }
            .add-description{
                display: flex;
                flex-direction: row;
            }
            .add-genre{
                .dropodwn{
                    .dropdown-menu {
                        display: none;
                    }
                      
                    .dropdown.open .dropdown-menu {
                        display: block;
                    }
                }
            }
            .title{
                color: black;
                font-weight: normal;      
            }
        }
        .bot {
            display: block;
            justify-content: end;
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            .create {
                display: flex;
                position: relative;
                bottom: 0;
                justify-content: center;
                align-items: center;
                padding: 10px;
                .createJob {
                    width: 100%;
                    padding: 10px;
                    background-color: green;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }
}